.challengeBoxContainer {
  height: 100%;

  background: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.challengeNotActive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challengeTitle {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}

.challengeinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4rem;
  max-width: 70%;
  margin-top: 3rem;
}

.challengeInfoIcon {
  margin-bottom: 1rem;
}

.challengeActive {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.challengeActiveTitle {
  color: var(--blue);
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0 2rem 1.5rem;
  border-bottom: 1px solid var(--gray-line);
}

.challengeActiveInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.challengeActiveInfoTitle {
  font-size: 2rem;
  font-weight: 600;
  color: var(--title);
  margin: 1.5rem 0 1rem;
}

.challengeActiveInfoText {
  line-height: 1.5;
}

.challengeActiveInfoBtnGroup {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.challengeActiveInfoBtn {
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 5px;

  color: var(--white);

  font-size: 1rem;
  font-weight: 600;

  transition: filter 0.2s;
}

.challengeActiveInfoBtn:hover {
  filter: brightness(0.9);
}

.challengeActiveInfoBtnFailed {
  background: var(--red);
}

.challengeActiveInfoBtnSucceeded {
  background: var(--green);
}
