.completedChallengesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 3.5rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d7d8da;

  font-weight: 500;
}

.completedChallengesTitle {
  font-size: 1.25rem;
}

.completedChallengesCounter {
  font-size: 1.5rem;
}
