.experienceBar {
  display: flex;
  align-items: center;
}

.experienceBarText {
  font-size: 1rem;
}

.experienceBarFill {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

.experienceBarFilled {
  height: 4px;
  border-radius: 4px;
  background: var(--green);
}

.experienceBarCurrentFilled {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
}
