.profileContainer {
  display: flex;
  align-items: center;
}

.profileAvatar {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.profileInfo {
  margin-left: 1.5rem;
}

.profileHighlightText {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title);
}

.profileText {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.profileInfoLevel {
  display: flex;
  align-items: baseline;
}
